# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings
website:
  title: "Hana Sato"                                # Your name
  image: img/my_image.jpg
  
  favicon: img/favicon.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/favicon.png
    
    # your sub-pages
    left:
      - text: "Education & Experiences"
        href: projects/index.qmd
      - text: "CV"
        href: cv/index.qmd
      - text: "Hobbies & Interests"
        href: photogtaphy/index.qmd

    
    # your social media handles
    right:
      - icon: instagram
        href: https://www.instagram.com/hanaas186/
      - icon: linkedin
        href: https://www.linkedin.com/in/hana-sato-239787331/
      - icon: envelope
        aria-label: email
        href: "mailto:has103@case.edu"  
  
  

# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: textbox
 
project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin

    footnotes-hover: true
